<div style="background:#f6f6f6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;padding-top:20px;color:#606061;;width:600px;max-width:600px;margin:auto;">
    <tbody>
      <tr>
        <td align="center" valign="top" style="padding:0">
          <table bgcolor="FAFBFA" cellspacing="0" cellpadding="0" border="0" width="650" style="border: 1px solid #e0e0e0; border-top: 3px solid #87d96c;">
            <tbody>
              <tr>
                <td valign="top">
                  <table cellspacing="0" cellpadding="0" style="border-collapse:collapse" width="100%" bgcolor="#ffffff">
                    <tbody>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td width="20">
                        </td>
                        <td align="center">
                          <a href="https://paytron.com.ng" target="_blank" style="text-decoration:none">
                             <img src="https://paytron.com.ng/assets/img/logo.png" alt="Paytron" height="60" border="0"/>
                          </a>
                        </td>
                        <td width="20">
                        </td>
                      </tr>

                      <tr>
                        <td width="20">
                        </td>
                        <td valign="top">
                          <table cellspacing="0" cellpadding="0" style="border-collapse:collapse" width="100%">
                            <tbody>
                              <tr>
                                <td height="30"></td>
                              </tr>
                              <tr style="color:#303133; font-weight: lighter; line-height: 1.5;">
                                <td align="start" valign="top">Hello @username@,</td>
                              </tr>
                              <tr>
                                <td height="30"></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">
                                  <h3 style="color:#606061;">WELCOME TO PAYTRON</h3>
                                </td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                              <tr style="color:#303133; font-weight: lighter; line-height: 1.5;">
                                <td align="start" valign="top">
                                  <p>Thanks for signing up, we are excited to have you in the family. </p>
                                  <p>Downloading different apps for your transactions can be cumbersome. We strongly believe
                                    banking should not be a struggle, so we’ve got you covered.</p>
                                </td>
                              </tr>
                              <tr>
                                <td height="15"></td>
                              </tr>
                              <tr>
                                <td align="start" valign="top" style="color:#303133; font-weight: lighter; line-height: 1.5;">
                                  In the meantime, here are a few things you can do:
                                  <ul>
                                    <li>Card to Account Transfer</li>
                                    <li>Account to Account Transfer</li>
                                  </ul>
                                </td>
                              </tr>
                              <tr>
                                <td height="15"></td>
                              </tr>
                              <tr style="color:#303133; font-weight: lighter; line-height: 1.5;">
                                <td align="start" valign="top">
                                  <p>
                                    I wanted to personally reach out to you. If you have a feature you want us to add, you can email me we would give you the
                                    credits too.</p>
                                  <p>Let us build an app together that would make your transactions easier, cheers.</p>
                                </td>
                              </tr>
                              <tr>
                                <td height="30"></td>
                              </tr>
                              <tr style="color:#303133; font-weight: lighter; line-height: 1.5;">
                                <td align="start" valign="top">
                                  <p style="margin:0;padding:0">Best regards,</p>
                                  <p style="margin:0;padding:0">Oluwatoni</p>
                                </td>
                              </tr>
                              <tr>
                                <td height="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="20">
                        </td>
                      </tr>
                      <tr>
                        <td width="20"></td>
                        <td height="30"></td>
                        <td width="20"></td>
                      </tr>
                      <tr bgcolor="#014c8c">
                        <td width="20"></td>
                        <td>
                          <table cellspacing="0" cellpadding="0" style="border-collapse:collapse" width="100%" bgcolor="#014c8c">
                            <tbody>
                              <tr>
                                <td height="30"></td>
                              </tr>
                              <tr>
                                <td width="20">
                                </td>
                                <td style="padding:0 20px 30px;font-family:arial,sans-serif;color:#9b9b9b;font-size:14px;line-height:20px;text-align:center">
                                  <p style="margin:0;padding:0;margin-bottom:2px;font-size:14px">This message was sent to <span class="m_-1384031213684077440resetlink"><a style="color:#87d96c;" href="mailto:@email@" target="_blank">@email@</a></span></p>
                                  <p style="margin:8px 0 0 0;padding:0">22 Sunyani street, Wuse Zone 1, Abuja, F.C.T, Nigeria. </p>
                                  <p style="margin:0;padding:0"> +234(0) 806 733 5486 | hello<span>@</span>paytron<span>.</span>com.ng</p>
                                  <p style="margin:0;padding:0">© 2017</p>
                                </td>
                                <td width="20">
                                </td>
                              </tr>
                              <tr>
                                <td height="30"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="20"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>